@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';
:root {
    --gradient-primary: linear-gradient(135deg, #4a84ff 0%, #8a5cf7 100%);
    --gradient-secondary: linear-gradient(135deg, #8a5cf7 0%, #d46eff 100%);
    .not-draggable {
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    --text-secondary-500: '#a855f7';
}

.gradient-text {
    background: var(--gradient-primary);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
